#Borderpane {
    -fx-background-color: #3498DB;
    -fx-background-image: url("bgimage.jpg");
    -fx-background-size:  cover; 
    
}

#TextArea {
    -fx-background-color: #000000;
    
}

/*#VBox {
    -fx-background-color: #2980B9;
    
}*/

#Button {
    -fx-background-color: #ffffff;
    
}

#Button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(193,1,0,0.8), 10, 0, 0, 0);
    
}

#Title {

    /*-fx-text-shadow: 20px 20px #ff0000;*/
    
}

#Slider {
    background-color: #c10100;
    
}