#Borderpane {
    -fx-background-color: #FFFFFF;
    -fx-background-size:  cover;
    -fx-animation: panning 50s infinite linear;
}


.button {
    -fx-background-color: #dcb29a;

}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(94,111,121,0.8), 20, 0, 0, 0);

}


#Slider {
    -fx-font-size: 23px;
    -fx-color: #5e6f79;
    -fx-font-family: 'Helvetica Neue';
    -fx-padding-top: 5px;
    -fx-control-inner-background: #dcb29a;

}

.slider .axis {
    -fx-tick-label-fill: #dcb29a;
    -fx-stroke: #ffffff;
    -fx-stroke-width: 3px;

}

.textField {
  -fx-control-inner-background: #dcb29a;
  -fx-text-fill: #5e6f79;
}